# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!libelf.so

# Fortran module files
*.mod
*.smod
!go.mod

# Compiled Static libraries
*.lai
*.la
*.a
!libbatscode_library*.a
!libbpf.a
!libxdp.a
!libelf.a
!af_xdp_kern.o
!libbats-licence*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake Build
build*
!.gitlab/jobs/build*
cmake/open-cpp-coverage.cmake
cmake-build-*/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json

# IDE
.idea/
.vs/
.vscode/
.clangd/

# Google Test
bld*

# temp dir
tmp*

# tag files
*tags*

# patch files
*.log

# history
.mininet_history
.viminfo
.bash_history
.cmake/*

# containernet test
.cache
.config
**/__pycache__/*

# gcovr tmp config
gcovr.cfg

# version h
src/include/version.h 

# Keys and certificates
*.pem
*.keys
*key*
id_rsa*
*.pub
**/bats_licence

# results
test_results
